/* google font  */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* google font  */


/* shared style  */

body{
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
}
/* shared style  */
.container{
    max-width: 1180px;
    margin: 0px auto;
}

/* liugiuf********************************* */

.black{
    background-color:#FF3D71 ;
    height: 95px;
    width: 70px;
    position:absolute;
    z-index:2;
    right:0px;
    top: 300px;
    border-radius: 10px 0px 0px 10px;

}


.bag{
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
    background-color: #192038;
    margin: 1px 0px 0px 1px;
    border-radius:10px 0px 0px 0px;
}
.tk{
    font-size: 14px;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #FFFFFF;
}

/*  **********************************/

.first-nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px;
}

.logo img{
    width: 168px;
    height: 22px;
    padding: 12px;
}

.logo-text{
    font-size: 14px;
    font-weight:600;
    color: #000000;
    padding: 16px;
}



input{
    padding: 8px 120px 8px 50px;
    border: 2px solid rgb(233, 9, 9);
    border-radius: 45px;
    background: #F5F5F5;
    outline: none;
}
::placeholder{
    color:#A2A8B4;
    font-size: 14px;
}
.fa-solid-card-bag{
    font-size: 20px;
    padding: 5px;
}

.btb-container{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btb-container a{
    text-decoration: none;
    color: #FFFFFf;
}

.btb{
    padding: 12px 16px;
    font-size: 12px;
    font-weight: 700;
    cursor: pointer;
    border-radius:50px ;
    border: 0;
}

.btb-black{
    background:#192036;
    color: #FFFFFf;
}

.btb-white a{
    color: black;
}

.btb-red{
    background: #FF3D71;
    color: #FFFFFf;
    padding: 12px 40px;
}

.oo{
    background-color: #FFFFFF;
    color:#FF3D71;
    border-radius: 50%;
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 12px;
    font-weight: 700;
    
}

hr{
    width: 1110px;
}

/* second nav  */

nav > li {
    list-style: none;
    font-size: 12px;
}
nav a{
    text-decoration: none;
    color: #FFFFFf;
    
}

.second-nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 8px 15px;
}

.btb-blue{
    background: #225CE4;
}

.btb-brown{
    background: #E31041;
}

.btb-purple{
    background: #B047C9;
}
.btb-sky{
    background: #09B5B5;
}
.btb-green{
    background: #09B566;
}

#search{
    width: 300px;
}

/* nav end ///////// */



.card-title{
    text-align: center;
    font-size: 12px;
    font-weight: 700;
     margin-top:40px;
}
.car img{
    width:100%;
    height:100%;
  
}

.second-banner img{
    height: 121px;
    width: 1170px;
    margin-top: 40px;
}

.first-card img{
    height: 282px;
    width: 282px;
}

.first-card{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:5px;
}


/* second card style ******* */




.second-card img{
    width: 381px;
    height:161px;
}
.second-card{
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    row-gap: 7px;
}

/* third card style ******** */


.third-card img{
    width: 282px;
    height: 282px;
}
.third-card{
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    row-gap: 7px;
}

/* fourth card ***** */

.fourth-card img{
    width: 223px;
    height: 223px;
}

.fourth-card{
    display: grid;
    grid-template-columns: repeat(5, 2fr);
    row-gap: 7px;
}

/* mobile banner img **** */

.mobile-banner img{
    width: 1168px;
    height: 280px;
    margin: 40px 0px;
}

.f-ribon{
    background-color: #6B21A8;
}



/* footer  style ***** */

.footer-row-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding-top: 40px;
    column-gap:20px;
    padding-bottom:50px;
}

.footer-row-container p{
    font-size: 14px;
    color: #FFFFFF;
}
.f-img{
    width: 180px;
    height: 25px;
}

.footer-head{
    padding-top: 0px;
    margin-top: 0px;
}

footer{
    background-color:#192038;
    padding-bottom: 50px;
}

.fa-brands{
    color: #FFFFFF;
    font-size: 25px;
    margin-right: 7px;
}

#f-head{
    color: #FF3D17;
    font-size:16px;
}

/* FOOTER  */

.footer-text{
    display: flex;
    justify-content:center;
    gap: 40px;
    color: #FFFFFF;
    font-size: 14px;
}

#reserved-text {
    color: #FFFFFF;
    font-size: 14px;
    margin-top: 5px;
    text-align: center;
}
